<div class="col-md-8">
    <div class="panel">
        <!-- ОПЕРАЦИОННЫЙ АНАЛИЗ -->
        <div class="panel-heading">
            <span class="panel-title">
                <i class="panel-title-icon fa fa-flask"></i>
                Операционный анализ
            </span>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-12">
                    <h4>Ключевые показатели проекта на этом этапе</h4>

                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Точка безубыточности</td>
                                <td><div class="text-semibold text-bg">2.5 года</div></td>

                            </tr>
                            <tr>
                                <td>Потребность в финансировании оборотного капитала</td>
                                <td><div class="text-semibold text-bg">$688K 
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<button class="btn btn-info btn-sm">Рассчитать график</button></div></td>

                            </tr>
                            <tr>
                                <td>Выручка за 5 лет</td>
                                <td><div class="text-semibold text-bg">$6.8M</div></td>

                            </tr>
                            <tr>
                                <td>EBITDA за 5 лет</td>
                                <td><div class="text-semibold text-bg">$1.5M</div></td>

                            </tr>
                            <tr>
                                <td>Простой срок окупаемости</td>
                                <td><div class="text-danger text-semibold">Не известно. <a href="#" class="editable editable-click">Почему?</a></div></td>

                            </tr>
                            <tr>
                                <td>Внутренняя норма доходности</td>
                                <td><div class="text-danger text-semibold">Не известно. <a href="#" class="editable editable-click">Почему?</a></div></td>

                            </tr>
                            <tr>
                                <td>NPV (ставка дисконтирования 15%)</td>
                                <td><div class="text-danger text-semibold">Не известно. <a href="#" class="editable editable-click">Почему?</a></div></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> <!-- PANEL -->
