    <div class="panel">
        <!-- ЧТО ДЕЛАТЬ ДАЛЬШЕ -->
        <div class="panel-heading">
            <span class="panel-title">
                <i class="panel-title-icon fa fa-flask"></i>
                Что дальше
            </span>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-info">Внести капитальные затраты</button>
                </div>
                <div class="col-md-8">
                    <p>Приобретение необходимого оборудования и техники, научные исследования и разработка и прочее</p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-info">Рассчитать налогообложение </button>
                </div>
                <div class="col-md-8">
                    <p>Рассчитать оптимальные варианты налогообложения для вашего проекта. </p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-success">Рассчитать финансирование</button>
                </div>
                <div class="col-md-8">
                    <p>Вашему проекту требуется финансирование. Мастер поможет разработать финансово безопасную схему привлечения инвестиций</p>
                </div>
            </div>
        </div>
    </div>
